@model PartyProductAPI.Models.ProductRateModel
@{
    var isAlert = ViewBag.Success;
}

<div class="container">
    @if (isAlert == true)
    {
        <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <strong>Congratulations!</strong> Your item has been added .
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h2 class="my-3">Add New Rate</h2>
    <form asp-action="AddNewProductRate" asp-controller="ProductRate" method="post" enctype="multipart/form-data">
        <div class="form-group my-2">
            <label asp-for="ProductID" class="fw-semibold fs-6"></label>
            <select asp-for="ProductID" class="form-control"
                    asp-items="(await _productRepo.GetAllProduct()).Select(x => new SelectListItem() { Text = x.ProductName, Value = x.ProductId.ToString() })">
                <option value="" disabled="disabled" selected="selected">Choose any one</option>
            </select>
            <span asp-validation-for="ProductID" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="Rate" class="fw-semibold fs-6"></label>
            <input asp-for="Rate" class="form-control" />
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="DateOfRate" class="fw-semibold fs-6"></label>
            <input asp-for="DateOfRate" class="form-control" disabled="disabled" value="@DateTime.Now" />
        </div>

        <div class="d-flex justify-content-start align-items-center gap-3">
            <button type="submit" class="btn btn-primary">Add Rate</button>
            <a asp-action="GetAllProductRate" asp-controller="ProductRate" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>