@model PartyProductAPI.Models.PartyModel

<div class="container">
    <h2 class="my-3">Add New Party</h2>
    <form asp-action="AddNewParty" asp-controller="Party" method="post" enctype="multipart/form-data">
        <div class="form-group my-2 mb-5">
            <label asp-for="PartyName" class="fw-semibold fs-6">Party Name</label>
            <input asp-for="PartyName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add Party</button>
    </form>
</div>