@model PartyProductAPI.Models.PartyModel
@{
    var isAlert = ViewBag.Success;
}

<div class="container">

    @if (isAlert == true)
    {
        <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <strong>Congratulations!</strong> Your item has been added .
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h2 class="my-3">Add New Party</h2>
    <form asp-action="AddNewParty" asp-controller="Party" method="post" enctype="multipart/form-data">
        <div class="form-group my-2 mb-3">
            <label asp-for="PartyName" class="fw-semibold fs-6">Party Name</label>
            <input asp-for="PartyName" class="form-control" />
            <span asp-validation-for="PartyName" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-start align-items-center gap-3">
            <button type="submit" class="btn btn-primary">Add Party</button>
            <a asp-action="GetAllParty" asp-controller="Party" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>