@model PartyProductAPI.Models.PartyProductModel
@{
    var selectedParty = ViewBag.SelectedParty;
    var selectedProduct = ViewBag.SelectedProduct;
}

<div class="container">
    <h2 class="my-3">Update Assign</h2>
    <form asp-action="UpdateAssign" asp-controller="PartyProduct" method="post" enctype="multipart/form-data">
        <div class="form-group my-2">
            <label asp-for="PartyId" class="fw-semibold fs-6"></label>
            <select asp-for="PartyId" class="form-control"
                    asp-items="(await _partyRepo.GetAllParty()).Select(x => new SelectListItem() { Text = x.PartyName, Value = x.PartyId.ToString(), Selected = (x.PartyId == selectedParty) })">
                <option value="">Choose any one</option>
            </select>
        </div>

        <div class="form-group my-2">
            <label asp-for="ProductId" class="fw-semibold fs-6"></label>
            <select asp-for="ProductId" class="form-control"
                    asp-items="(await _productRepo.GetAllProduct()).Select(x => new SelectListItem() { Text = x.ProductName, Value = x.ProductId.ToString(), Selected = (x.ProductId == selectedProduct) })">
                <option value="">Choose any one</option>
            </select>
        </div>
        <div class="d-flex justify-content-start align-items-center gap-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="GetAllAssign" asp-controller="PartyProduct" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>